:root {
  /* === Color Variables === */
  --color-bg: #fff;
  --color-card-bg: #f8f9f2;
  --color-text: #0d251d;
  --color-hover-bg: rgba(13, 37, 29, 0.1);
  --color-text-opacity-80: rgba(13, 37, 29, 0.8);
  --color-text-opacity-60: rgba(13, 37, 29, 0.6);
  --color-background-dark: #0d0d0d;
  --color-minimal-carousel-button-bg: #fccffe;
  --color-minimal-carousel-button-hover-bg: #f0b3e0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--color-bg);
  overflow-x: hidden;
}

.section-title {
  font-size: 34px;
  font-weight: 700;
  color: var(--color-text);
  padding: 30px;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1536px;
  margin-left: auto; /* mx-auto */
  margin-right: auto; /* mx-auto */
}

/* Tailwind-like breakpoints */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
