.image-swiper-testimonial {
  position: relative;
  background-color: #968385;
  color: white;
}
.image-swiper-testimonial-container {
  margin: 0 auto;
  padding: 4rem 1.5rem;
  position: relative;
}

.image-swiper-testimonial-top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-swiper-testimonial-top-section p {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
  width: 150px;
}

.image-swiper-testimonial-top-section h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 0.5rem;
  flex: 1 0 800px;
  text-align: center;
}

.image-swiper-testimonial-arrows {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
}

.image-swiper-testimonial-arrow-btn {
  width: 3.5rem;
  height: 2rem;
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.image-swiper-testimonial-arrow-btn:hover {
  background: rgba(255, 255, 255, 0.1);
}

.image-swiper-testimonial-content {
  margin-top: 4rem;
  align-items: center;
}

.image-swiper-testimonial-main {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  max-width: 700px;
}

.image-swiper-testimonial-main img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.image-swiper-testimonial-main h3 {
  font-size: 25px;
  font-weight: 600;
}

.image-swiper-testimonial-main p {
  margin-top: 0.5rem;
  line-height: 1.5;
  font-weight: 500;
}

.image-swiper-testimonial-main .image-swiper-testimonial-author {
  margin-top: 1rem;
  font-size: 0.875rem;
  color: #d1d5db;
}

.image-swiper-testimonial-faces {
  display: flex;
  position: absolute;
  left: 800px;
  gap: 1rem;
  padding-bottom: 0.5rem;
  bottom: 55px;
  right: 0;
}

.image-swiper-testimonial-faces img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 0.5rem;
  flex-shrink: 0;
}

/* Hide scrollbar */
.image-swiper-testimonial-faces::-webkit-scrollbar {
  display: none;
}

.image-swiper-testimonial-faces {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (max-width: 1280px) {
  .image-swiper-testimonial-top-section {
    flex-direction: column;
    text-align: center;
  }
  .image-swiper-testimonial-arrows {
    position: absolute;
    bottom: 50px;
  }
  .image-swiper-testimonial-top-section p {
    width: auto;
  }
  .image-swiper-testimonial-top-section h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 0.5rem;
    flex: 1 0 auto;
    text-align: center;
  }
  .image-swiper-testimonial-container {
    padding-bottom: 150px;
  }
  .image-swiper-testimonial-faces {
    bottom: 105px;
  }
}
@media (max-width: 1024px) {
  .image-swiper-testimonial-faces {
    display: none;
  }
}
@media (max-width: 640px) {
  .image-swiper-testimonial-main {
    flex-direction: column;
    text-align: center;
  }
  .image-swiper-testimonial-main img {
    width: 60%;
    height: auto;
  }
  .image-swiper-testimonial-main h3 {
    font-size: 1.25rem;
  }
}
