.image-swiper-testimonial {
  position: relative;
  background-color: #968385;
  color: white;
}
.image-swiper-testimonial-container {
  margin: 0 auto;
  padding: 4rem 1.5rem;
}

.image-swiper-testimonial-text-center {
  text-align: center;
}
.image-swiper-testimonial-top-section {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.image-swiper-testimonial-top-section p {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
}

.image-swiper-testimonial-top-section h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 0.5rem;
}

.image-swiper-testimonial-arrows {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
}

.image-swiper-testimonial-arrow-btn {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.image-swiper-testimonial-arrow-btn:hover {
  background: rgba(255, 255, 255, 0.1);
}

.image-swiper-testimonial-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  margin-top: 4rem;
  align-items: center;
}

@media (min-width: 768px) {
  .image-swiper-testimonial-content {
    grid-template-columns: 1fr 1fr;
  }
}

.image-swiper-testimonial-main {
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
}

.image-swiper-testimonial-main img {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.image-swiper-testimonial-main h3 {
  font-size: 1.125rem;
  font-weight: 600;
}

.image-swiper-testimonial-main p {
  margin-top: 0.5rem;
  line-height: 1.5;
}

.image-swiper-testimonial-main .image-swiper-testimonial-author {
  margin-top: 1rem;
  font-size: 0.875rem;
  color: #d1d5db;
}

.image-swiper-testimonial-faces {
  display: flex;
  position: absolute;
  right: 40rem;
  gap: 1rem;
  padding-bottom: 0.5rem;
  bottom: 55px;
  right: 0;
}

.image-swiper-testimonial-faces img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 0.5rem;
  flex-shrink: 0;
}

/* Hide scrollbar */
.image-swiper-testimonial-faces::-webkit-scrollbar {
  display: none;
}

.image-swiper-testimonial-faces {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
