/* Swiper Section */
.image-swiper-testimonial {
  position: relative;
  background-color: #968385;
  color: white;
}
.image-swiper-testimonial-container {
  padding: 50px 0px;
  margin: 0 auto;
  position: relative;
}

/* Top Section */
.image-swiper-testimonial-top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.image-swiper-testimonial-top-section p {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
  width: 150px;
}
.image-swiper-testimonial-top-section h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 0.5rem;
  flex: 1 0 800px;
  text-align: center;
}

/* Arrows */
.image-swiper-testimonial-arrows {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
}
.image-swiper-testimonial-arrow-btn {
  width: 3.5rem;
  height: 2rem;
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}
.image-swiper-testimonial-arrow-btn:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* Main Content */
.image-swiper-testimonial-content {
  display: flex;
  margin-top: 4rem;
  align-items: end;
  justify-content: space-between;
  width: 100%;
  transition: transform 0.5s ease;
}

/* Individual Testimonial Card */
.image-swiper-testimonial-main {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Image */
.image-swiper-testimonial-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 0.5rem;
  filter: grayscale(1);
  cursor: pointer;
  scale: 0.9;
  z-index: 10;
  transition: filter 0.5s ease, scale 0.5s ease, opacity 0.5s ease,
    transform 0.5s ease;
}

/* Text Box */
.image-swiper-testimonial-text-box {
  overflow: hidden;
  max-width: 800px;
  margin-right: -20px;
  opacity: 0;
  width: 0;
  height: 0;
  filter: blur(10px);
  transform: translateY(-50px) rotate(5deg) skew(5deg);
  transition: filter 0.5s ease, opacity 0.5s ease, transform 0.5s ease,
    width 0.5s ease, height 0.5s ease, margin 0.5s ease;
}
.image-swiper-testimonial-main h3 {
  font-size: 25px;
  font-weight: 600;
}
.image-swiper-testimonial-main p {
  margin-top: 0.5rem;
  line-height: 1.5;
  font-weight: 500;
  width: 90%;
}
.image-swiper-testimonial-main .image-swiper-testimonial-author {
  margin-top: 1rem;
  font-size: 0.875rem;
  color: #d1d5db;
}

/* Active State Classes */
.active-swiper .image-swiper-testimonial-image {
  scale: 1;
  filter: none;
  margin-left: 12px;
}
.active-swiper .image-swiper-testimonial-text-box {
  opacity: 1;
  transform: translateY(0);
  width: auto;
  height: auto;
  filter: blur(0);
}

/* Responsive Styles */
@media (max-width: 1280px) {
  .image-swiper-testimonial-content {
    transform: none;
  }
  .active-swiper .image-swiper-testimonial-image {
    opacity: 1;
    width: 200px;
    transform: translateX(0);
    filter: none;
  }
  .image-swiper-testimonial-image {
    opacity: 0;
    width: 0;
    transform: translateX(100px);
    filter: none;
  }
  .image-swiper-testimonial-top-section {
    flex-direction: column;
    text-align: center;
  }
  .image-swiper-testimonial-top-section p {
    width: auto;
  }
  .image-swiper-testimonial-top-section h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 0.5rem;
    flex: 1 0 auto;
    text-align: center;
  }
  .image-swiper-testimonial-arrows {
    position: absolute;
    bottom: 50px;
  }
  .image-swiper-testimonial-container {
    padding-bottom: 150px;
  }
}
@media (max-width: 1024px) {
  .image-swiper-testimonial-main {
    flex-direction: column;
    text-align: center;
  }
  .image-swiper-testimonial-main .image-swiper-testimonial-text-box {
    padding-left: 0;
  }
  .image-swiper-testimonial-image {
    scale: 1;
    margin-bottom: 20px;
  }
  .active-swiper .image-swiper-testimonial-image {
    margin-right: 0;
  }
  .image-swiper-testimonial-text-box p {
    width: auto;
    text-align: center;
    padding: 0 20px;
  }
}
@media (max-width: 640px) {
  .image-swiper-testimonial-main {
    flex-direction: column;
    text-align: center;
  }
  .image-swiper-testimonial-main h3 {
    font-size: 1.25rem;
  }
}
