:root {
  --color-minimal-carousel-text: #5f5b84;
  --color-minimal-carousel-bg: #fafafe;
  --color-minimal-carousel-shadow: rgba(95, 91, 132, 0.1);
  --color-minimal-carousel-button-bg: #fccffe;
  --color-minimal-carousel-button-hover-bg: #f0b3e0;
}

/* minimal-carousel-slider-Testimonial */
.minimal-carousel-slider-image {
  border-radius: 999px;
  height: 150px;
  width: 150px;
  object-fit: cover;
}

/* minimal-carousel-slider */
.minimal-carousel-slider {
  display: flex;
  justify-content: center;
  gap: 20px;
  color: var(--color-minimal-carousel-text);
  background-color: var(--color-minimal-carousel-bg);
  padding: 40px;
  border-radius: 14px;
  min-width: 300px;
  max-width: 740px;
  flex-shrink: 0;
  position: relative;
}
.minimal-carousel-slider:hover {
  transition: all 0.3s ease;
  transform: translateY(-4px);
  box-shadow: var(--color-minimal-carousel-shadow) 0px 10px 20px;
}
.minimal-carousel-slider-name {
  font-weight: 600;
  font-size: 20px;
  padding: 4px 0;
}
.minimal-carousel-slider-role {
  opacity: 80%;
}
.minimal-carousel-slider-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.minimal-carousel-slider-quote {
  padding-bottom: 10px;
}
.slider-wraper {
  /* overflow-x: hidden; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.quote-icon {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 50px;
  opacity: 50%;
}
.minimal-carousel-navigate-arrows {
  display: flex;
  gap: 20px;
  margin: 0 auto;
  width: fit-content;
  margin-top: 20px;
  border-radius: 999px;
  padding: 4px;
}
.minimal-carousel-arrow-button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: var(--color-minimal-carousel-button-bg);
  border-radius: 21px;
  padding: 16px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.minimal-carousel-arrow-button:hover {
  background-color: var(--color-minimal-carousel-button-hover-bg);
}

/* responsiveness  */
@media (max-width: 768px) {
  .minimal-carousel-slider {
    min-width: 300px;
    max-width: 95%;
  }
}
@media (max-width: 640px) {
  .minimal-carousel-slider {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .minimal-carousel-slider-info {
    align-items: center;
  }
}
