/* three-column-testimonial-section */
:root {
  /* === Color Variables === */
  --color-bg: #fff;
  --color-background-dark: #0d0d0d;
  --color-stars: #fbbf24;
}

.three-column-testimonial-section {
  background-color: var(--color-background-dark);
  color: var(--color-bg);
  margin-top: 50px;
}
.three-column-testimonial-flex {
  /* display: grid; */
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(3, 1fr);
   */
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  justify-items: center;
  gap: 20px;
}
.testimonial-card-three-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  flex: 1 1 300px;
}
.testimonial-quote-three-column {
  padding: 15px 0;
  text-align: center;
  opacity: 70%;
}
.stars {
  color: var(--color-stars);
  font-size: 20px;
  display: flex;
  gap: 2px;
  margin-bottom: 10px;
}
.testimonial-title {
  min-width: 300px;
  text-align: center;
  opacity: 50%;
}
.testimonial-name {
  opacity: 70%;
}
@media (max-width: 640px) {
  .three-column-testimonial-flex {
    flex-direction: column;
  }
  .testimonial-card-three-column {
    padding: 40px 20px;
    flex: 1 1 100%;
  }
  .testimonial-title {
    min-width: auto;
    text-align: center;
    opacity: 50%;
  }
}
