.twitter-profile-bottom-testimonial-section {
  background-color: #111825;
  color: #fbffff;
}
.twitter-profile-botom-user-info-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.twitter-profile-bottom-testimonial-layout {
  /* display: grid; */
  /* grid-template-columns: repeat(4, 1fr); */
  columns: 300px;
  column-gap: 20px;
  padding: 0 10px 50px 10px;
}

.twitter-profile-bottom-testimonial-box {
  padding: 18px 24px;
  background-color: #212838;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  display: block;
  break-inside: avoid;
}
.twitter-profile-bottom-testimonial-text {
  color: gray;
  font-size: 14px;
  line-height: 1.5;
  padding-bottom: 10px;
}
.twitter-profile-botom-user-info-box {
  display: flex;
}
.twitter-profile-bottom-avatar {
  border-radius: 999px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.twitter-profile-bottom-name {
  font-weight: 600;
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.twitter-profile-bottom-username {
  color: gray;
  font-size: 14px;
  text-transform: lowercase;
  text-decoration: none;
}
.twitter-profile-bottom-header {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.twitter-profile-bottom-link {
  color: #7e83fd;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.twitter-profile-bottom-link:hover {
  color: #1da1f2;
}
